/*
*{
    to reset, useful for debugging to check for initial spacing
    margin: 0px;
    padding: 0px;
}
*/

.clr{
    /* clear floats, necessary when we have applied floats and we wanna reset them on the next div */
    clear: both;

}

body{
    color: black;
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;

    line-height: 1.6em;
    margin: 20px;
    padding: 20px;
}

.container{
    /* set width to a percentage to make it responsive */
    width: 80%;
    margin: auto;
    color: black;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: red;
}

a:active{
    color: green;
}

.button{
    text-align: center;
    background-color: black;
    color: white;
    border-width: 10px;
    padding: 10px 15px;
    border: none;
}

.button:hover{
    color:aqua;
}

.box-1{
    color: black;
    border-right: red solid;
    border-right-width: 3px;
    border-right-style: dashed;
    padding: 20px;
    margin: 20px 0px;
}

/* only affects the main header in box-1 class */
.box-1 h1{
    color: cadetblue;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.box-2{
    color: black;
    border: 3px;
    border-style: dashed;
    padding: 20px;
    margin: 20px 0px;
}

p{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    /* or u can do margin: top right bottom left */
    margin: 5px, 10px, 5px, 10px
    /* when top = bottom, right = left */
}

.categories{
    border: 1px solid;
    padding: 10px;
    border-radius: 15px;
}

.categories h2{
    text-align: center;
}

.categories ul{
    padding: 0;
    /* can remove the points by replacing it with none */
    list-style: none;
}

.categories li{
    /* additionaly, u can replace list points with images */
    padding-bottom: 8px;
    border-bottom: dotted 1px;
    /*
    list-style-image: url("something.png");
    */
}

.my-form .form-group{
    padding-bottom: 20px;
}

.my-form{
    padding: 50px;
}

.my-form label{
    /* separate lines for labels and input */
    display: block;
}

/* we do [type="text"] to exclude the button since it is not a text */
.my-form input[type="text"], .my-form textarea{
    padding: 8px;
    width: 100%;
}

/* horizontal blocks */
.block{
    float: left;
    width: 33.3%;
    border: 1px;
    padding: 10px;
    /* takes in padding and border and applies into width */
    box-sizing: border-box;
}

#main-block{
    float: left;
    width: 70%;
}

#sidebar{
    float: right;
    width: 30%;
    background-color: black;
    color: white;
    padding: 15px;
    box-sizing: border-box;
}

.p-box{
    width: 800px;
    height: 500px;
    border: 1px solid black;
    margin-top: 300px;
    /* we put this so that all absolute positioning can be positioned relative to p-box, it's a bit counter-intuitive */
    position: relative;
}

.p-box h1{
    /* since it's absolute, it's position counts from the top of the html document, but since we set p-box as reference, the absolute is positioned 100px from the top of p-box */
    position: absolute;
    top: 100px;
}

.p-box h2{
    position: absolute;
    top: 200px;
    left: 200px;
}

.fix-me{
    /* see how we scroll down the page and the button doesn't move, it's position is fixed no matter how we navigate through the website */
    position: fixed;
    top: 400px;
}